<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gramlogin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/kg"
        android:label="@string/app_name"
        android:roundIcon="@drawable/kg"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gramlogin"
        android:usesCleartextTraffic="true">
        <activity android:name=".Newsdetails"></activity>
        <activity android:name=".Account" />
        <activity android:name=".Pdo_main" />
        <activity android:name=".loginpage1" />
        <activity android:name=".register" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>