<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gramlogin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/kg"
        android:label="@string/app_name"
        android:roundIcon="@drawable/kg"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gramlogin"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustResize">
        <activity android:name=".Paytax"></activity>
        <activity android:name=".Payments" />
        <activity android:name=".UserApplication" />
        <activity android:name=".ServiceForm" />
        <activity android:name=".Newsdetails" />
        <activity android:name=".Account" />
        <activity android:name=".loginpage1" />
        <activity android:name=".register" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>